body {
    
    color: rgb(183, 134, 222);
    align-self: center;
    margin: 75px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}

ul {
    display: inline;
}

img {
    height: 300px;
    width: 220px
}



/* ID'S */

#title {
    text-align: center;
}

#navBar1 {}

#selected-content{
    padding-top: 50px;
    display: flex wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}



/* CLASSE'S */

.catTitles {
    display: flex;
    flex-direction: row;
}

.background {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPrg2FJsuvWNBfotIYvD_Z-bYRce0_CBkCGg&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    outline: 1px solid red;
    display: flex;
}

.navigation-container .navBar1 ul, .navBar2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    outline: 1px solid green;

}

.navigation-container ul li {
    outline: 1px solid orange;
    width: 10rem;
    height: 3rem;

}


/* BUTTONS */

#strollers-button {
    
}


#carSeats-button {
    
}


